.footer {
    // width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
    background-attachment: scroll;
    background-clip: border-box;

    text-align: center;
    background-color: color-mix(in srgb, Canvas, CanvasText 10%);
    color: color-mix(in srgb, CanvasText, Canvas 15%);
}
